    <!-- Footer -->
    <footer class="custom-footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>GameDay Eats</h5>
                    <p>Your ultimate guide to stadium dining experiences</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p>&copy; 2024 GameDay Eats. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>